/* Playfair Display */
@font-face {
  font-family: 'Playfair Display';
  src: url('/font/PlayfairDisplay-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/font/PlayfairDisplay-Italic-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
}

/* Source Sans 3 */
@font-face {
  font-family: 'Source Sans 3';
  src: url('/font/SourceSans3-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans 3';
  src: url('/font/SourceSans3-Italic-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
}

/* ------------------------------------------------------------------ */

@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  color: #333;
  line-height: 1.6;
  margin: 0;
  background-color: #FEFBF5;

}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}


h1 {
  font-size: clamp(2.5rem, 5vw, 3.5rem);
  letter-spacing: 2px;
  line-height: 4rem;
}

h2 {
  font-size: clamp(2rem, 3.5vw, 2.75rem);
}

h3 {
  font-size: clamp(1.75rem, 3vw, 2.25rem);
}

h4 {
  font-size: clamp(1.5rem, 2.5vw, 1.75rem);
}

h5 {
  font-size: clamp(1.25rem, 2vw, 1.5rem);
}

h6 {
  font-size: clamp(1.125rem, 1.8vw, 1.25rem);
}

.small-text {
  font-size: clamp(0.875rem, 1.021vw, 1.021vw);
  line-height: 1.4;
}

.text-shadow {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


/* p, */
p,
li,
a,
span {
  font-size: 1rem;
  line-height: 1.75rem;
}

strong,
b {
  font-weight: 600;
}

ul,
ol {
  list-style: none;
  padding-left: 0px !important;
}

/* ---------------------------------------Button------------------------------- */




.rotate-infinite {
  animation: spinInfinate360 10s linear infinite;
}

@keyframes spinInfinate360 {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}

.rotate-icon {
  animation: spin360 7s linear infinite;
}

@keyframes spin360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


input,
textarea {
      border: none;
    background: transparent;
    border-bottom: 1px solid #96722C;
    border-radius: 0px;
    padding: 15px 0px;
    outline: none;
    font-size: 1.25rem;
    color: black;
}
input::placeholder,
textarea::placeholder {
  color: #3C3C3CB2;
}


@media (min-width: 1200px) {
    .container {
        max-width: inherit;
        padding-right: 7vw;
        padding-left: 7vw;
    }
}

.nav-menu > a {
  /* font-size: 20px; */

}

@media (min-width: 768px) {
  .menu {
    clip-path: ellipse(100% 150% at 0% 30%);
  }
}